@model dynamic
@using AFFZ_Customer.Utils
@inject NotificationService NotificationService
@{
    var adminurl = await NotificationService.GetadminLink();
}
<div class="col-lg-9">
    <div class="widget-title">
        <h4>Dashboard</h4>
    </div>

    <!-- Dashboard Widget -->
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="dash-widget">
                <div class="dash-img">
                    <span class="dash-icon bg-yellow">
                        <img src="/assets/img/icons/dash-icon-01.svg" alt="image">
                    </span>
                    @* <div class="dash-value"><img src="/assets/img/icons/up-icon.svg" alt="image"> +16.24%</div> *@
                </div>
                <div class="dash-info">
                    <div class="dash-order">
                        <h6>Total Orders</h6>
                        <h5>@ViewBag.TotalOrders</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="dash-widget">
                <div class="dash-img">
                    <span class="dash-icon bg-blue">
                        <img src="/assets/img/icons/wallet-icon-01.svg" alt="image">
                    </span>
                   @*  <div class="dash-value text-danger"><img src="/assets/img/icons/down-icon.svg" alt="image"> +18.52%</div> *@
                </div>
                <div class="dash-info">
                    <div class="dash-order">
                        <h6>Total Spend</h6>
                        <h5>$@ViewBag.TotalSpend</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="dash-widget">
                <div class="dash-img">
                    <span class="dash-icon bg-blue">
                        <img src="/assets/img/icons/wallet-add.svg" alt="image">
                    </span>
                    @* <div class="dash-value"><img src="/assets/img/icons/up-icon.svg" alt="image"> +12.10%</div> *@
                </div>
                <div class="dash-info">
                    <div class="dash-order">
                        <h6>Wallet</h6>
                        <h5>$@ViewBag.WalletPoints</h5>
                    </div>
                </div>
            </div>
        </div>
        @* <div class="col-md-6 col-lg-3">
            <div class="dash-widget">
                <div class="dash-img">
                    <span class="dash-icon bg-light-danger">
                        <img src="/assets/img/icons/wallet-amt.svg" alt="image">
                    </span>
                    <div class="dash-value"><img src="/assets/img/icons/up-icon.svg" alt="image"> +08.15%</div>
                </div>
                <div class="dash-info">
                    <div class="dash-order">
                        <h6>Total Savings</h6>
                        <h5>$354</h5>
                    </div>
                </div>
            </div>
        </div> *@
    </div>
    <!-- /Dashboard Widget -->

    <div class="row">
        <!-- Recent Booking -->
        <div class="col-lg-8 d-flex flex-column">
            <h6 class="user-title">Recent Booking</h6>
            <div class="table-responsive recent-booking flex-fill">
                <table class="table mb-0">
                    <tbody>
                        @foreach (var booking in ViewBag.RecentBookings)
                        {
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="#" class="avatar avatar-m me-2"><img class="avatar-img rounded" src="@adminurl@booking.ServiceImage" alt="User Image"></a>
                                        <a href="#">@booking.ServiceName<span><i class="feather-calendar"></i> @booking.ResponseDateTime.ToString("dd MMM yyyy")</span></a>
                                    </h2>
                                </td>
                                <td>
                                    <h2 class="table-avatar table-user">
                                        <a href="#" class="avatar avatar-m me-2"><img class="avatar-img" src="/Login/GetImage" alt="User Image"></a>
                                        <a href="#">
                                            @booking.CustomerName
                                            <span>@booking.Email</span>
                                        </a>
                                    </h2>
                                </td>
                                <td class="text-end">
                                    <a href="#" class="btn btn-light-danger">Cancel</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /Recent Booking -->
        <!-- Recent Transaction -->
        <div class="col-lg-4 d-flex flex-column">
            <h6 class="user-title">Recent Transaction</h6>
            <div class="table-responsive transaction-table flex-fill">
                <table class="table mb-0">
                    <tbody>
                        <tr>
                            <td>
                                <div class="table-book d-flex align-items-center">
                                    <span class="book-img">
                                        <img src="/assets/img/icons/trans-icon-01.svg" alt="Icon">
                                    </span>
                                    <div>
                                        <h6>Service Booking</h6>
                                        <p><i class="feather-calendar"></i>22 Sep 2023 <span><i class="feather-clock"></i> 10:12 AM</span></p>
                                    </div>
                                </div>
                            </td>
                            <td class="text-end">
                                <h5 class="trans-amt">$280.00</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-book d-flex align-items-center">
                                    <span class="book-img">
                                        <img src="/assets/img/icons/trans-icon-02.svg" alt="image">
                                    </span>
                                    <div>
                                        <h6>Service Refund</h6>
                                        <p><i class="feather-calendar"></i>22 Sep 2023 <span><i class="feather-clock"></i> 10:12 AM</span></p>
                                    </div>
                                </div>
                            </td>
                            <td class="text-end">
                                <h5 class="trans-amt">$100.00</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-book d-flex align-items-center">
                                    <span class="book-img">
                                        <img src="/assets/img/icons/trans-icon-03.svg" alt="image">
                                    </span>
                                    <div>
                                        <h6>Wallet Topup</h6>
                                        <p><i class="feather-calendar"></i>22 Sep 2023 <span><i class="feather-clock"></i> 10:12 AM</span></p>
                                    </div>
                                </div>
                            </td>
                            <td class="text-end">
                                <h5 class="trans-amt">$1000.00</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-book d-flex align-items-center">
                                    <span class="book-img">
                                        <img src="/assets/img/icons/trans-icon-01.svg" alt="Icon">
                                    </span>
                                    <div>
                                        <h6>Service Booking</h6>
                                        <p><i class="feather-calendar"></i>22 Sep 2023 <span><i class="feather-clock"></i> 10:12 AM</span></p>
                                    </div>
                                </div>
                            </td>
                            <td class="text-end">
                                <h5 class="trans-amt">$280.00</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-book d-flex align-items-center">
                                    <span class="book-img">
                                        <img src="/assets/img/icons/trans-icon-01.svg" alt="Icon">
                                    </span>
                                    <div>
                                        <h6>Service Booking</h6>
                                        <p><i class="feather-calendar"></i>22 Sep 2023 <span><i class="feather-clock"></i> 10:12 AM</span></p>
                                    </div>
                                </div>
                            </td>
                            <td class="text-end">
                                <h5 class="trans-amt">$280.00</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /Recent Transaction -->
    </div>
</div>